<% turbo_frame_tag comment, loading: :lazy do %>
  <div class="comment">
    <div class="comment__content">
      <p>
        <strong>Comment:</strong>
        <%= comment.content %>
      </p>
    </div>
    <div class="comment__comments-list">
      <% comment.comments.each do |child_comment| %>
        <div class="comment__child-comments-container">
          <%= turbo_frame_tag child_comment, src: comment_path(child_comment), loading: :lazy do %>
            <p>Loading...</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<%= render(CommentComponent.new(comment: comment, current_user:)) %>
