<%= turbo_frame_tag id="likers_list_post_#{@target_id}" do %>
  <% @likers[...19].each do |liker| %>
    <span><%= liker.name %></span>
  <% end %>
  <% if @likers.size >= 19 %>
    <span>and <%= @likers.size - 19 %> more...</span>
  <% end %>
<% end %>
