<div class="modal__background hidden" data-controller="modal" data-modal-target="modal">
  <button class="modal__cross" data-action="modal#hide">
    <%= inline_svg_tag('cross.svg') %>
  </button>
  <%= content %>
</div>
