<dialog class="modal" data-modal-target="modal">
  <button class="modal__cross" data-action="modal#close" aria-label="close">
    <%= inline_svg_tag('cross.svg') %>
  </button>
  <%= content %>
</dialog>
