<h1>Editing liked comment</h1>

<%= render "form", liked_comment: @liked_comment %>

<br>

<div>
  <%= link_to "Show this liked comment", @liked_comment %> |
  <%= link_to "Back to liked comments", liked_comments_path %>
</div>
