<p style="color: green"><%= notice %></p>

<h1>Liked comments</h1>

<div id="liked_comments">
  <% @liked_comments.each do |liked_comment| %>
    <%= render liked_comment %>
    <p>
      <%= link_to "Show this liked comment", liked_comment %>
    </p>
  <% end %>
</div>

<%= link_to "New liked comment", new_liked_comment_path %>
