<div id="<%= dom_id request %>">
  <p>
    <strong>Accepted:</strong>
    <%= request.accepted %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= request.sender_id %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= request.receiver_id %>
  </p>

</div>
