<div id="<%= dom_id friendship %>">
  <p>
    <strong>User one:</strong>
    <%= friendship.user_one_id %>
  </p>

  <p>
    <strong>User two:</strong>
    <%= friendship.user_two_id %>
  </p>

  <p>
    <strong>Friends count:</strong>
    <%= friendship.friends_count %>
  </p>

</div>
