.comment {
  border-radius: 4px;
}
.comment__child-comments-container {
  padding-left: 20px;
}
/* .comment__comments-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
} */
.comment__content {
  border: 1px black solid;
  background-color: aquamarine;
}
