.modal_fix {
  background: var(--background-1);
  border: none;
  &::backdrop {
    background: var(--background-1);
    opacity: 50%;

  }
}

.modal__cross_fix {
  height: 60px;
  width: 60px;
  color: var(--foreground-1);
  background: none;
  border: none;
  rotate: 45deg;
  &:hover {
    color: var(--background-highlight-1);
  }
}
