.small_user__container {
  display: flex;
  font-size: 15px;
  font-weight: 600;
  color: white;
  column-gap: 8px;
  padding: 0 12px;
  padding-top: 16px;
}

.small_user__avatar {
  height: 40px;
  width: 40px;
  border-radius: 9999px;
  /* border: 2px solid blue; */
  background-color: gray;
  fill: white;
}

.small_user__data-container {
  display: flex;
  flex-direction: column;
}
